.menta{
    background-color: aquamarine;
}

.colornav{
    background-color:#4c70b0;
}

.white{
    color: white;
}


.item{
    height: 50px;
    border: 1px solid black;
}

.sezione{
    font-size: 23px;
}

.blu-elef{
    background-color:#4c70b0;
}

.white>p>span{
    color: aquamarine;
}

.bscuro{
    background-color: #2d559b;
}

.fa-copyright{
    font-size: 25px;
}

.bradius{
    border-radius: 5px;
}

.sito{
    border: 1px solid white;
    margin-left: 5px;
    border-radius: 100%;
    padding: 3px;
    width: 30px;
}
.navbar-light .navbar-toggler-icon{
    filter: invert(1);
}
.navbar-light .navbar-toggler{
    border-color: white;
}
.navbar-light .navbar-brand{
    color: white;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.form-control{
    border:0;
    border-bottom:1px solid rgb(94, 92, 92);
    border-radius: 0;
    padding: 0;
    padding-bottom: 40px;
    font-size: 30px;
}
.form-control::placeholder{
    color: rgb(90, 89, 89);
    font-weight: 600;
}

.form-label{
    font-size: 30px;
    color: rgb(90, 89, 89);
    font-weight: 600;
}


/* ------------------------------------ */
@media screen and (max-width: 768px){
    .description>h3{
        font-size: 14px;
    
    }
}