.menta{
    background-color: aquamarine;
}

.navbar{
    background-color:#4c70b0;
    height: 60px;
}

.white{
    color: white;
}


.item{
    height: 50px;
    border: 1px solid black;
}

.sezione{
    font-size: 23px;
}

.blu-elef{
    background-color:#4c70b0;
}

.white>p>span{
    color: aquamarine;
}

.bscuro{
    background-color: #2d559b;
}

.fa-copyright{
    font-size: 25px;
}

.bradius{
    border-radius: 5px;
}
@media screen and (max-width: 768px){
    .description>h3{
        font-size: 13px;
    
    }
}